@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gothic+A1&display=swap');
body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 18pt;
    color: #3a405a;
}
h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}
header {
    background-color: #3a405a;
}
.logo {
    max-width: 100px;
}
.headerimage {
    max-width: 360px;
    height: 150px;
}
.mainbody {
    padding: 40px;
}
.about {
    background-color: #EFF7FF;
    max-width: 295px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
}
footer {
    background-color: #3a405a;
    font-size: 10pt;
    color: #03b5aa;
    padding: 40px;
}
footer img {
    max-width: 30px;
}
.socials {
    display: flex;
}
.socialicons {
    position: absolute;
    right: 40px;
}
.socialicons img {
    margin-right: 10px;
    margin-left: 10px;
}
.illustrations {
    background-image: url("/images/leo682.jpg");
    background-size: cover;
    padding: 70px;
}
.uxdesign {
    background-image: url("/images/planet-botanix682.jpg");
    background-size: cover;
    padding: 70px;
    margin-top: 40px;
}
.photography {
    background-image: url("/images/crystalball-682.jpg");
    background-size: cover;
    padding: 70px;
    margin-top: 40px;
}
.fineart {
    background-image: url("/images/52pickup-682.jpg");
    background-size: cover;
    padding:70px;
    margin-top: 40px;
}
.illustrations p, .uxdesign p, .photography p, .fineart p {
    display: none;
}
.overlay {
    background-color: rgba(239, 247, 255, 0.7);
    padding: 30px;
}
.overlay a {
    text-decoration: none;
    background-color: #03b5aa;
    font-size: 10pt;
    border: solid #03b5aa 0.5pt;
    border-radius: 30px;
    padding: 10px 30px;
    text-align: center;
    color: #3a405a;
}
.contactform {
    background-color: #EFF7FF;
    padding: 30px 20px;
}
input {
    margin-bottom: 40px;
    max-width: 100%;
}
textarea {
    margin-bottom: 40px;
    max-width: 100%;
}
input[type=submit] {
    background-color: #03b5aa;
    border: #03b5aa;
    border-radius: 30px;
    padding: 10px;
    color: #3a405a;
    text-align: center;
    position: relative;
    right: -75px;

    
}
.cv {
    background-color: #03b5aa;
    border: #03b5aa;
    border-radius: 30px;
    padding:  10px 40px;
    color: #3a405a; 
    text-align: center; 
    position: relative;
    right: -65px;
}
.cvarea {
    padding: 40px;
}
.cvarea h3 {
    text-align: center;
}