/* Imports Montserrat regular and bold Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*Sets font-family and background colour for entire body of page*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    color: #333131;
}
header, main {
    padding: 35px;
}
header img {
    width: 150px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: -40px;

}
.maintext p {
    font-size: 1.5rem;
    margin-top: -40px;
}
main {
    background-image: url("../landing-page/images/scooter.svg");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position:  0px 400px;
}
.apply {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.5);
    margin-top: 300px;
    padding: 30px;
    color: #333131;
}
h2 {
    font-size: 2.5rem;
    margin-top: -20px;
}
.apply input[type=text] {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #333131;
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: #f7f7ff;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}
input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.apply button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #57eeab;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
    color: #333131;
    margin-left: 5px;
}
a:link {
    color: #ff8480;
    text-decoration: none;
}
a:visited {
    color: #ff8480;
    text-decoration: none;
}
.apply p {
    margin-bottom: -10px;
}
.contactform {
    margin-top: -20px;
}
footer {
    background-color: #fffd8c;
    padding: 5px 25px;
    color: #333131; 
    min-height: 200px;
}
h4 {
    padding: 0 100px 0 0;
}
.footerinput {
    display: grid;
    grid-template-columns: 70px 220px;
    grid-gap: 10px;
}
#hours {
    background-color: #f7f7ff;
    border: none;
    border-radius: 10px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 1rem;
    text-align: center;
    padding-left: 10px;
}
#city {
    background-color: #f7f7ff;
    border: none;
    border-radius: 10px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 1rem;
    padding-left: 10px;
}
.footerbutton {
    grid-column: 1 / 3;
}
.calculation button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #ff8480;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 35px;
    color: #ffffff;
}
/*Using flex for social media icons to easily reconfigure navigation between viewport sizes*/
.socials {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
/*Styles for tablet*/
@media screen and (min-width: 768px) {
    header, main {
        padding: 0px 80px 80px;
    }
    header img {
        width: 110px;
    }
    h1 {
        font-size: 5rem;
    }
    main {
        background-size: 50%;
        background-position: 175px 350px;
    }
    .fnamelabel {
        font-size: 1.75rem;
    }
    .apply input[type=text] {
        height: 45px;
        margin-top: 20px;
    }
    .apply button {
        height: 55px;
        font-size: 2rem;
    }
    .apply p {
        text-align: center;
    }
    footer {
        padding: 5px 80px;
    }
    .footerinput {
        grid-template-columns: 120px 260px 200px;
    }
    #hours {
        grid-column: 1 / 2;
        text-align: left;
    }
    #city {
        grid-column: 2 / 3;
    }
    .footerbutton {
        grid-column: 3 / 4;
    }
    .socials {
        justify-content: center;
        gap: 50px;
    }
}
/*Desktop Styles*/
@media screen and (min-width: 1100px) {
    header {
        padding: 25px 140px;
    }
    main {
        padding: 110px 140px 0px 140px;
        background-position: 400px 100px;
        margin-bottom: -200px;
        background-size: 50%;
    }
    /*Applied grid to main area, to easily layout different sections*/
    .maingrid {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
    }
    /*used relative position to fix skewed layout, and move apply section up on page*/
    .apply {
        position: relative;
        bottom: 300px;
        grid-column: 3/4;
        padding: 40px 50px 40px 40px;
    }
    /*using min-width to stop text overflowing button when resizing screen*/
    .apply button {
        min-width: 275px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 140px;
    }
    /*used relative position to fix layout of socials to be more precise per mockup*/
    .socials {
        align-items: center;
        position: relative;
        top: 20px;
    }
}