/*Import quicksand font; original "dashed" option in design not available in google fonts, so replacing headings with quicksand bold*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
/*landing page styles for mobile*/
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5f5;
    color: #350a3e;
}
.banner, .nav, .icons {
    background-color: #f6b2d2;
}
.banner {
    display: flex;
    background-image: url("../prototype/images/banner375.jpg");
    background-repeat: no-repeat;
    background-size: 375px 185px;
    max-width: 375px;
    justify-content: center;
}
.banner img {
    max-width: 320px;
    justify-content: center;;

}
.icons {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    padding-right: 20px;
    margin-bottom: -20px;
}
.fas {
    padding-left: 30px;
}
/*styling navigation links using flexbox within a div containter to create an evenly spaced row*/
nav ul li a {
    text-decoration: none;
}
nav ul li {
    list-style-type: none;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.navbar {
    position: relative;
    left: -20px;
}
.navbar a {
    font-size: 1.5em;
}
/*using background-image property to insert a background image as a secondary "banner" image below nav*/
.backgroundimage {
    background-image: url("../prototype/images/background375.jpg");
    background-repeat: no-repeat;
    height: 250px;
    margin-top: -16px;
}
.info {
    background-color: #f6b2d2;
    margin-top: -132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info p {
    text-align: center;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    color: #350a3e;
}
p {
    font-size: 1.5em;
    text-align: left;
    color: #350a3e;
}
.shop {
    background-color: #350a3e;
    font-family: 'Quicksand', sans-serif;
    color: #c5db4c;
    font-size: 1.5em;
    width: 345px;
    padding: 5px;
    letter-spacing: 0.5rem;
    margin-bottom: 30px;
}
footer {
    background-color: #f6b2d2;
    padding: 30px 0px;
}
.socialmedia ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-content: flex-start;
}
.socialmedia img {
    height: 50px;
}
/* using relative position to fix misaligned social media icons */
.socialmedia {
    position: relative;
    left: -10px;
}
.links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    position: relative;
    left: -25px;
}
.links a {
    font-size: 1.5em;
    letter-spacing: 0.5rem;
    text-decoration: none;
    line-height: 2;
}
a:link {
    color: #350a3e;
}
a:hover {
    color: #c5db4c
}
/*Styling for about page (mobile)*/
.owner {
    background-color: #f6b2d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
.owner img {
    max-width: 192px;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
    margin-top: -40px;
}
.employees {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employees img {
    max-width: 192px;
}
.employees h3, h4 {
    text-align: center;
}
/*styling for menu page mobile*/
.scoops {
    background-color: #f6b2d2;
    padding: 40px;
}
.sundaes {
    background-color:#f6b2d2;
    padding: 40px;
}
.pints {
    background-color: #f6b2d2;
    padding: 40px;
}
.greybox {
    background-color: #f5f5f5;
    margin-top: -40px;
    padding: 40px;
}
.greybox h3 {
    text-align: center;
}
.greybox p {
    line-height: 2em;
}
.greybox button {
    background-color: #350a3e;
    color: #c5db4c;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    width: 200px;
}
.scoops img {
    max-width: 280px;
}
.sundaes img {
    max-width: 280px;
}
.pints img {
    max-width: 280px;
}
footer {
    margin-top: 50px;
}
/*Tablet styles*/
@media screen and (min-width: 369px) {
    main {
        padding: 50px 85px;
    }
    .banner {
        display: flex;
        background-image: url("../prototype/images/banner768.jpg");
        background-repeat: no-repeat;
        background-size: 768px 185px;
        max-width: 768px;
        justify-content: center;
    }
    .backgroundimage {
        background-image: url("../prototype/images/background768.jpg");
        background-repeat: no-repeat;
        height: 400px;
        margin-top: -16px;
    }
    .owner img {
        max-width: 400px;
    }
    .employees img {
        max-width: 400px;
    }
    .scoops img {
        max-width: 485px;
    }
    .sundaes img {
        max-width: 485px;
    }
    .pints img {
        max-width: 485px;
    }
    .greybox button {
        width: 400px;
    }
    /*Styling navbar & footer for tablet; made change to footer from original design to allow for more space between links*/
    .nav {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav login"
    }
    .navbar {
        grid-area: nav;
        margin-top: -20px;
        margin-left: -50px;
    }
    .icons {
        grid-area: login;
        margin-bottom: 0px;
        position: relative;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "links icons"
    }
    .links {
        grid-area: links;
    }
    .socialmedia {
        grid-area: icons;
    }
}   
/*Desktop styles*/
@media screen and (min-width:768px) {
    body {
        max-width: 1640px;
    }
    .banner {
        display: flex;
        background-image: url("../prototype/images/banner1600.jpg");
        background-repeat: no-repeat;
        background-size: 1600px 185px;
        max-width: 1600px;
        height: 340px;
        justify-content: center;
    }
    .backgroundimage {
        background-image: url("../prototype/images/background768.jpg");
        background-repeat: no-repeat;
        background-size: 1640px 563px;
        height: 600px;
        margin-top: -50px;
    }
    header {
        display: flex;
        flex-direction: column; 
    }
    .nav {
        margin-top: -100px;
    }
    .navbar {
        position: relative;
        left: 350px;
    }
    .banner img {
        position: relative;
        left: -500px;
        top: 210px;
    }
    .info {
        background-color: rgba(245, 245, 245, 0.7);
        max-width: 1365px;
        position: absolute;
        top: 575px;
        left: 175px;
        padding: 50px;
    }
    footer {
        margin-top: -90px;
    }
    .links {
        position: relative;
        left: -100px;
    }
    /*applying grid to about page*/
    .owner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 0.25fr;
        grid-template-areas: 
        'image body'
        'captions .';
    }
    .owner h3 {
        grid-area: captions;
        position: relative;
        top: -30px;
        text-align: center;
    }
    .owner h4 {
        grid-area: captions;
        position: relative;
        top: 50px;
    }
    .owner p {
        padding: 20px;
    }
    .employees {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.15fr 1fr;
        grid-template-areas:
        '. header .'
        'liza john norma';
        padding-bottom: 40px;
    }
    .employees h4 {
        grid-area: header;
    }
    .liza {
        grid-area: liza;
    }
    .john {
        grid-area: john;
    }
    .norma {
        grid-area: norma;
    }
    /*applying grid layout to menu page divs*/
    .scoops img {
        max-width: 600px;
    }
    .sundaes img {
        max-width: 600px;
    }
    .pints img {
        max-width: 600px;
    }
    .scoops {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sundaes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'greybox image'
    }
    .pints {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .greybox {
        margin-top: 0px;
    }
    .sundaes .greybox {
        grid-area: greybox;
    }
    .greybox button {
        width: 500px;
    }
    main {
        margin-bottom: 80px;
    }


}